<div class="panel panel-primary">
    <div class="panel-heading"><%= @event.name %></div>

    <div class="panel-body">

        <!-- Main Info -->
        <h4>Main Info</h4>
        <p> <%= @event.name %></p>
        <h4>What's going on:</h4>
        <p><%= @event.description %></p>
        <h4>Where?</h4>
        <p> <%= @event.location %></p>
        <h4>When?</h4>
        <p> <%= @event.starts_at %></p>
        <h4>Until when? </h4>
        <p><%= @event.ends_at %></p>
        <h4>How much?</h4>
        <p>€<%= @event.price %></p>
        <h4>capacity</h4>
        <p><%= @event.capacity %></p>

         <!-- About -->
         <p>Host:
           <%= @event.user.email %></p>


    <!-- Amenities -->
        <h4>Bonuses</h4>
          <ul class="event info">
            <li><%= !@event.includes_food ? ("<s>come hungry</s>").html_safe : "come hungry" %></li>
            <li><%= !@event.includes_drink ? ("<del>come thirsty</del>").html_safe : "come thirsty" %></li>
            <li><%= !@event.active ? ("<del>active</del>").html_safe : "active" %></li>
          </ul>

        <h4>Categories</h4>
          <% @categories.each do |category| %>
          <span class="label label-success"><%= category.name %></span>
        <% end %>

    <!-- Photos -->

      <h4>Photo</h4>
        <div>
          <% @photos.each do |photo| %>
          <%= image_tag photo.image.thumbnail %>
        </div>
      </div>
    <% end %>

<%= link_to "Back", events_path, class: "btn btn-default" %>
